.head {
    position: absolute;
    color: #f5bfbf;
    left: 150px;
    top: -225px;
    font-size: 100px;
    font-family: 'Montserrat', sans-serif;;

}


.project1 {
    position: absolute;
    left: 200px;
    text-decoration: none !important;
    color: white;
}

.project2 {
    color: white;
    position: absolute;
    left: 300px;
    text-decoration: none;
}

